<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.springboot.board.model.mapper.BoardMapper">
	<select id="getListCount" resultType="_int">
	select count(*)
	from board
	where board_type=#{i} and board_status = 'Y'
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		select *
		from board
			join member on(board_writer = id)
		where board_type = #{i} and board_status = 'Y'
		order by board_id desc
	</select>
	
	<resultMap type="Board" id="boardResultSet">
		<result column="board_create_date" property="createDate"/>
		<result column="board_modify_date" property="modifyDate"/>
		<result column="board_status" property="status"/>
	</resultMap>
	
	<insert id="insertBoard">
		insert into board
		values(seq_bid.nextval, #{boardTitle}, #{boardWriter}, #{boardContent},
			default,sysdate,sysdate,default,#{boardType})
		
	</insert>
</mapper>
