<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body class="bg-light">

	<div th:replace="~{views/common/navbar.html}"></div>
	<div class="container">
		<main>
			<div class="py-5 text-center">
				<a href="/home"><img class="d-block mx-auto mb-4" src="/image/springboot.png" width="130"></a>
				<h2>ATTACHMENT UPDATE FORM</h2>
			</div>

			<div style="margin-left: 350px; margin-right: 350px;">
				<form class="needs-validation" action="/attm/update" method="POST" enctype="multipart/form-data" id="attmForm">
					<input type="hidden" th:value="${b.boardId}" name="boardId"/>
					<input type="hidden" th:value="${page}" name="page"/>
					<div class="row g-3">
						<div class="col-12">
							<label for="boardTitle" class="form-label">TITLE</label>
							<input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="${b.boardTitle}"/>
						</div>

						<div class="col-12">
							<div class="input-group">
					          <span class="input-group-text">CONTENT</span>
					          <textarea class="form-control" rows="10" name="boardContent" style="resize: none;">[[${b.boardContent}]]</textarea>
					        </div>
						</div>
						
						<br><br><br>
						<div>
							<th:block th:each="a:${list}">
								<h5>
									<a th:href="@{/}+${a.renameName}" th:download="${a.originalName}">[[${a.originalName}]]</a>
									<button type="button" class="btn btn-outline-dark btn-sm deleteAttm" th:id="|delete-${a.renameName}/${a.attmLevel}|">삭제 OFF</button>
									<input type="hidden" name="deleteAttm"/>
								</h5>
								<br/>
							</th:block>
						</div>
						
						
						<button type="button" class="w-25 btn btn-outline-success" id="addFile">+ 파일추가</button>
						<div id="fileArea">
							<div class="mb-3">
								<input type="file" class="form-control form-control-lg" name="file"/>
							</div>
						</div>
						
						
						<br><br><br><br><br>
						
							<button class="w-100 btn btn-success btn-lg" type="button" id="submitAttm">UPDATE</button>
							<button class="w-100 btn btn-secondary btn-lg" type="button" th:onclick="/location.href='/attm/list?page=${page}'/">GO TO LIST</button>							
							<button class="w-100 btn btn-dark btn-lg" type="button" onclick="javascript:history.back();">BACK</button>
					</div>
				</form>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small"></footer>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
     		 <div class="modal-dialog" role="document">
         		 <div class="modal-content rounded-3 shadow">
               		<div class="modal-body p-4 text-center">
                		 <h3 class="mb-0">첨부파일이 삽입되지 않았습니다.</h3>
                		 <p class="mb-0">작성된 글은 일반 게시판으로 옮겨집니다.</p>
               		</div>
              		 <div class="modal-footer flex-nowrap p-0">
                		 <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="moveBoard">
                    	 <strong>네</strong>
                 		</button>
                 		<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오</button>
               		</div>
          		</div>
        	</div>
   		</div>
   		
	</div>
	
	<script>
		window.onload = () => {
			const fileArea = document.querySelector('#fileArea');
			document.getElementById("addFile").addEventListener('click',()=>{
				const newDiv = document.createElement('div');
				newDiv.classList.add('mb-3');
				newDiv.innerHTML='<input type="file" class="form-control form-control-lg" name="file">';
				fileArea.append(newDiv);
			});
			
			//class deleteAttm인 버튼을 클릭했을 때 이벤트가 일어나게 하기
			//삭제 OFF인 상태면, 버튼의 배경색은 검은색 글자색은 하얀색으로 바뀌면서 삭제 ON으로 변경되게 하고
			//				 삭제 OFF 버튼 아래에 input 태그의 값으로 삭제버튼에 있었던 id 값 중 - 뒤에 있는 값 넝기
			//삭제 ON인 상태면, 버튼의 배경색은 없애고(none) 글자색은 검은색으로 바뀌면서 삭제 OFF로 변경되게 하기
			//				 삭제 ON 버튼 아래 input 태그의 값 지우기
			const delBtns = document.getElementsByClassName('deleteAttm');
			for(const btn of delBtns){
				btn.addEventListener('click',function(){
					const nextHidden = this.nextElementSibling;
					if(nextHidden.value == ''){
						this.style.background = 'black';
						this.style.color = 'white';
						this.innerText= '삭제 ON';
						nextHidden.value = this.id.split('-')[1];
					}else{
						this.style.background = 'none';
						this.style.color='black';
						this.innerText='삭제 OFF'
						nextHidden.removeAttribute('value');
					}
				});
			}
			
			const form = document.getElementById('attmForm');
			document.getElementById('submitAttm').addEventListener('click',()=>{
				const files = document.getElementsByName('file');
				let isEmpty = true;
				for(const f of files){
					if(f.value !=''){
						isEmpty = false;
					}
				}
				
				let isAllRemove = true;
				for(const btn of delBtns){
					if(btn.innerText == '삭제 OFF'){
						isAllRemove = false;
					}
				}
				
				if(isEmpty && isAllRemove){
					$('#modalChoice').modal('show');
				}else{
					form.submit();
				}
				
			});
			
			document.getElementById('moveBoard').addEventListener('click',()=>{
				form.submit();
			})

			
		}
	</script>
</body>
</html>